.pilots-list-container {
  background: linear-gradient(to bottom right, rgba(38, 38, 92, 0.9), rgba(56, 0, 60, 0.8));
  padding: 30px;
  border-radius: 12px;
  max-width: 800px;
  width: 95%;
  color: #eaeaea;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  font-family: "Segoe UI", sans-serif;
}

.pilots-list-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.admin-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.admin-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  transition: all 0.3s ease;
}
.admin-actions button:hover {
  background-color: #3d8b40;
}
.admin-actions button:active {
  background-color: #357a38;
}

.pilots-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pilot-item {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  margin-bottom: 15px;
  padding: 15px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pilot-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.pilot-item a {
  color: #fff;
  text-decoration: none;
  flex-grow: 1;
  display: block;
}
.pilot-item h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 5px;
  color: #fff;
}
.pilot-item p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  color: #eaeaea;
}
.pilot-item .admin-controls {
  display: flex;
  gap: 10px;
}
.pilot-item .admin-controls button {
  padding: 8px 15px;
  border: none;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pilot-item .admin-controls button:first-child {
  background-color: #007bff; /* Blue for edit */
  color: #fff;
}
.pilot-item .admin-controls button:first-child:hover {
  background-color: #0062cc;
}
.pilot-item .admin-controls button:first-child:active {
  background-color: #0056b3;
}
.pilot-item .admin-controls button:last-child {
  background-color: #f44336; /* Red for delete */
  color: #fff;
}
.pilot-item .admin-controls button:last-child:hover {
  background-color: #ea1c0d;
}
.pilot-item .admin-controls button:last-child:active {
  background-color: #d2190b;
}

.error-message {
  color: #f44336;
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: center;
}

.success-message {
  color: green;
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: center;
}

.loading-message {
  color: #eaeaea;
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: center;
}