/* src/components/vehicles/styles/VehiclesList.scss */
$primary-text: #333;
$secondary-text: #555;
$border-color: #ddd;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$white-color: #fff;
$border-radius: 8px;
$hover-background: #f9f9f9;
$card-border: 3px solid #4e4e4e;
$card-box-shadow: 0 12px 20px rgba(100, 69, 69, 0.1);

.vehicles-list-container {
    padding: 2rem;
    background-color: $white-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin: 2rem auto;
    max-width: 960px;

    h1 {
        color: $primary-text;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .vehicles-list {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1.25rem;
    }

    .vehicle-item {
        border: $card-border;
        border-radius: $border-radius;
        overflow: hidden;
        transition: box-shadow 0.3s ease;
        background-color: $white-color;
        box-shadow: $card-box-shadow;

        &:hover {
            box-shadow: 0 25px 10px rgba(0, 0, 0, 0.15);
            border-color: 2px solid black, 20%;
        }

        a {
            text-decoration: none;
            color: $primary-text;
            display: flex;
            flex-direction: column;
            padding: 1.25rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $hover-background;
            }

            h2 {
                margin-top: 0;
                margin-bottom: 0.75rem;
                color: $primary-text;
                font-size: 1.3rem;
                font-weight: 500;
            }

            .vehicle-details {
                color: $secondary-text;
                font-size: 0.95rem;
                line-height: 1.5;
            }
        }
    }
}